<div class="jumbotron">
  <h3> 欢迎光临 </h3>
  
  <p><a class="btn btn-default" href="/products" role="button">购买鲜花</a></p>
  <p><a class="btn btn-default" href="/cart" role="button">查看购物车</a></p>
</div>
