<div class="jumbotron">
  <h3> Welcome You Customer </h3>
  
  <p><a class="btn btn-default" href="/products" role="button">Buy Flowers</a></p>
  <p><a class="btn btn-default" href="/cart" role="button">View Cart</a></p>
</div>
