<div class="jumbotron">
  <h3> 登录邮箱: <%= @user.email %> </h3>
  <p> 上次登录 Perky 的时间 <%= @user.last_sign_in_at %> <p>
  
  <p><a class="btn btn-default" href="/products" role="button">购买鲜花</a></p>
  <p><a class="btn btn-default" href="/cart" role="button">查看购物车</a></p>
</div>