<div class="thumbnail">
<!--         <img src="https://images.unsplash.com/photo-1428931996691-a5108d4cdbf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=14cfa2dc55055feff45e341b0c9dc9e6"
          width="300px" height="300px" align="right" alt="nadia of bloom"> -->
</div>    
    
<div>
    <h2>About Perky</h2>
    <br><br>
    <p>Hi. My name is Lvrui and I own Perky Flower-store.<br>
    </p>
</div>  
