<h2>Contact Us</h2>
<p>Tel: xxxxxxxx</p>
<p>Address: Dalian Polytechnic University </p>

<h3>Our Location:</h3>
<iframe src="http://apis.map.qq.com/ws/staticmap/v2/?center=38.975890,121.524480&zoom=16&size=600*400&maptype=roadmap&markers=size:large|color:0xFFCCFF|label:k|38.975890,121.524480&key=L4GBZ-5EERX-BJM4K-7VUNO-2F2P7-Q2BAP" 
 width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>

